@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family : 'NotoSerifKR';
  src : url('../font/NotoSerifKR-Black.woff2') format('woff');
  src : url('../font/NotoSerifKR-Bold.woff2')format('woff') ;
  src : url('../font/NotoSerifKR-ExtraLight.woff2') format('woff');
  src : url('../font/NotoSerifKR-Light.woff2');
  src : url('../font/NotoSerifKR-Medium.woff2') format('woff');
  src : url('../font/NotoSerifKR-Regular.woff2') format('woff');
  src : url('../font/NotoSerifKR-SemiBold.woff2') format('woff');
}
@font-face{
	font-family:'nanum';
	src:url('../include/NanumGothic.eot');
	src:local(※), 
		url('../include/NanumGothic.woff') format('woff')
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


body {
	font-family: 'ELAND_Choice_M', sans-serif !important;
	color: #000;
	font-size:12px;
}

.clear {clear:both; }

.sp5 { height:5px; clear:both; }
.sp12 { height:12px; clear:both; }
.sp15 { height:15px; clear:both; }
.sp35 { height:35px; clear:both; }
.sp55 { height:55px; clear:both; }
.sp60 { height:60px; clear:both; }
.sp65 { height:65px; clear:both; }
.sp70 { height:70px; clear:both; }
.sp80 { height:80px; clear:both; }
.sp90 { height:90px; clear:both; }
.sp100 { height:100px; clear:both; }
.sp190 { height:190px; clear:both; }

.font_b{font-weight:600;}
.font_thin{font-weight:300;}
.font_9{font-size:9px;}
.font_12{font-size:12px;}
.font_13{font-size:13px;}
.font_14{font-size:14px;}
.font_15{font-size:15px;}
.font_16{font-size:16px;}
.font_18{font-size:18px;}
.font_20{font-size:20px;}
.font_22{font-size:22px;}
.font_24{font-size:24px;}
.font_48{font-size:48px;}




.a_under{color:#777777; font-weight:bold; text-decoration: underline;}
.a_under:hover{color:#e8441d;}

.a_3{color:#333;}

.a_33{color:#333;}

.a_3f{color:#333;}
.a_3f:hover{color:#ffffff;}

.a_3f_table{color:#ffffff;}
.a_3f_table:hover{color:#ffffff;}

.a_3b{color:#333; font-weight:bold;}
.a_3b:hover{color:#ffba00;}

.a_3bei{color:#333;}
.a_3bei:hover{color:#c8a052;}

.a_3under{color:#333;}
.a_3under:hover{color:#ffba00; text-decoration: underline;}

.a_5{color:#555;}

.a_7{color:#777;}
.a_7:hover{color:#e8441d;}

.a_9{color:#999999;}
.a_9:hover{color:#e8441d;}
.a_9:active{color:#000;}

.c_9{color:#999999;}
.c_sky{	color:#37a8ec;}
.c_skyb{	color:#37a8ec; font-weight:bold;}
.c_green{color:#3ebc1b;}
.c_green2{color:#00e548}
.c_gray{color:#777;}
.c_pink{color:#ec4f4f;}
.c_yellow{color:#ffba00;}
.c_redb{color:#e1423e; font-weight:bold;}
.c_orangen{color:#e8441d;}
.c_orange {
    color: #005396;
    font-weight: bold;
}
.c_black{color:#000;}
.c_brown{color:#c6b9a5;}
.c_grayorange{color:#f6dab6}


*{box-sizing:border-box;}

.float_le{
	float:left;
}
.float_ri{
	float:right;
}

.a_a3{
	color:#e8441d;
}

.g_line{
	width:100%;
	height:1px;
	background-color:#e7e7e7;
}

.margin_none{
	margin:none;
}

a {
	text-decoration:none;
}

li{
		list-style:none;
}

.red_line{
	width:40px;
	height:1px;
	margin:0 auto;
	margin-bottom:35px;
	background-color:red;

}

.green_line{
	width:45px;
	height:3px;
	margin:0 auto;
	margin-bottom:35px;
	background-color:#e8441d;
}



.wrap{
	width:100%;
}

.width1200{
	width:1200px;
	margin:0 auto;
}

input, select{
	/*appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;*/
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border:none;
	-webkit-border:none;
	-moz-border:none;
	padding:0 10px;
	-webkit-padding:0 10px;
	-moz-padding:0 10px;
}

select{
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}

select::-ms-expand { display: none; }
select {
	background-image:url('../images/arrow.png');
	background-repeat:no-repeat;
	background-position:90% 50%;
	background-size:7% auto;
    border: 1px solid #ddd;
}

/*input:focus { outline: none; }
select:focus { outline: none; }*/

input[type="checkbox"] {
	appearance: checkbox;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}

a { text-decoration:none; color:#212121;}

.clear { clear:both; }

body { font-size:12px; color:#212121; font-family: 'nanumgothic', sans-serif; }

#wrap { width:100%; height:100%; }


/*---- top ----*/
    .swiper-container {
      width: 100%;
      height: 100%;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
   .swiper-slide img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
    object-fit: cover;
}


.visual_slide {
    width: 100%;
    height: fit-content;
}
.visual_slide .txt1{
	position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 18px;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    width: 100%;
	}
.visual_slide .swiper-slide {
    width: 100%;
    padding-top: 58.25%;
    position: relative;
}

#header {
    width: 100%;
    padding: 3.5% 0 0% 0;
    border-bottom: 2px solid #303030;
    overflow: hidden;
    padding-bottom: 15px;
}

.header_top{
	width:100%;
	height:45px;
	background:#454545;
    display: none;
}

.header_inner{
	width:95%;
	margin:0 auto;
	padding:1% 0;
}

.header_top_box01{
	float:left;
}

.header_top_box02{
}

.header_top_box01 a{
	font-size:12px;
	color:#cccccc;
	line-height:45px;
	margin-right:40px;
}

.header_top_box02 a {
    font-size: 1.15em;
    color: #00599b;
    line-height: 45px;
    font-weight: 600;
}

.header_top_box02 a:first-child{
    margin-right: 7px;
}

.logo {
    display: none;
}

.logo img{
	width:100%;
	height:auto;
}

.nav_btn{
	width:8%;
	height:auto;
	float:left;
	margin-top:1.5%;
}

.nav_btn img {
    width: 21px;
    height: auto;
}

.t_form{
    overflow: hidden;
    width: 100%;
}

.header_select {
    width: 30%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    font-size: 0.9em;
    color: #444444;
    float: left;
    background-color: #ffffff;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 92% 54%;
    background-size: 7% auto;
    padding-left: 10px;
}

.header_input {
    width: 67%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    font-size: 0.9em;
    color: #444444;
    padding-left: 14px;
    float: right;
}

.header_input input{
	float:left;
	height:33px;
	width:85%;
}

.header_input img{
	float:right;
	width:32px;
}

.header_btn {
    display:none;
}

.header_btn_box01{
	float:left;
	cursor:pointer;
    margin-right: 3px;
}

.header_btn_box02{
	float:left;
	margin-left:1%;
	cursor:pointer;
}

.header_btn_img{
	width:30px;
	height:30px;
}

.header_btn_text01{
	float:right;
	line-height:175%;
	font-size:11px;
	color:#333333;
	margin-left:15px;
    display: none;
}

.header_btn_text01 span{
	font-weight:bold;
	color:#212121;
	font-size:12px;
	letter-spacing:0.5px;
}

.header_btn_text02{
	float:right;
	line-height:160%;
	font-size:12px;
	color:#333333;
	margin-left:15px;
    display: none;
}

.header_btn_text02 span{
	font-weight:bold;
	color:#212121;
	letter-spacing:0.5px;
}

.all_category{
	float:left;
    display: none;
}

.all_category li a{
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	width:270px;
	height:50px;
	background: #e8441d;
	display:block;
	letter-spacing:0.5px;
	line-height:50px;
	padding-left:30px;
}

.all_category li a img{
	vertical-align:middle;
	margin-right:10px;
	width:20px;
	height:15px;
}

.dropdown{
	margin-top:5%;
}

.dropdown li a{
	color:#212121;
	font-size:1.15em;
	letter-spacing:0.5px;
	line-height:200%;
}

.m_dropdown li a{
	color:#212121;
	font-size:1.15em;
	letter-spacing:0.5px;
	line-height:200%;
}

.sub_dropdown li a{
	color:#666666;
	font-size:1.15em;
	letter-spacing:0.5px;
	line-height:200%;
	padding-left:8%;
}

.nav{
    display: none;
}

.nav li{
}

.nav li a{
	color:#212121;
	font-size:1em;
	font-weight:600;
	letter-spacing:0.5px;
	line-height:200%;
	border-bottom:1px solid #212121;
}

.m_nav{
    margin-bottom: 20px;
}

.m_nav li a{
    	color:#212121;
	font-size:1em;
	font-weight:600;
	letter-spacing:0.5px;
	line-height:200%;
	border-bottom:1px solid #212121;
}

#gnb{
	background:#ffffff;
	border:1px solid rgba(204, 204, 204, 0.8);
	width:75%;
	height:100%;
	position:fixed;
	z-index:9999;
	left:-150%;
	top:0%;
}

.gnb_inner{
	width:80%;
	margin:0 auto;
}

.click_logo_box{
	overflow:hidden;
	padding-top:15%;
	padding-bottom:5%;
}

.click_logo{
	width:60%;
	float:left;

}

.click_logo img{
	width:100%;
	height:auto;
}

#close {
    width: 7%;
    height: auto;
    float: right;
    margin-top: 2%;
    position: absolute;
    top: 10px;
    right: 20px;
}

#close img{
	width:100%;
	height:auto;
}


/*        ڽ */
.blank{
	position:absolute;
	width:100px;
	height:200px;
}

.sub_nav{
	width:150px;
	border-top:1px solid #fff;
	border-left:1px solid #008785;
	border-right:1px solid #008785;
	border-bottom:1px solid #008785;
	display:none;
	position:absolute;
	background-color:#fff;
	box-shadow:0px 8px 16px rgba(0,0,0,0.2);
	margin-top:20px;
}
.sub_nav a{
	display:block;
	padding:12px 16px;
	text-decoration:none;
	color:black;
}

.sub_nav li{
	width:150px;
}

.category:hover .sub_nav{
	display:block;
}
.sub_nav a:hover{
	background-color:#e8441d;
	color:white;
}

/*---- top    ----*/



/*----       ----*/

.visual01{
	width:100%;
}

.visual01 img{
	width:100%;
}

.visual02{
	width:49%;
	float:left;
}

.visual02 img{
	width:100%;
}

.visual03{
	width:49%;
	float:right;
}

.visual03 img{
	width:100%;
}

/*----          ----*/



/*----   ǰ        ----*/



.main_title{
	color:#444444;
	font-size:18px;
	font-weight:600;
}

.main_title p{
	padding-left:20px;
}

.product_container{
}

.product_content{
}

/*  ǰ4  */.product_content02{
}

.product_box {
    width: calc(98%/2);
    float: left;
    margin-right: 2%;
    overflow: hidden;
    margin-bottom: 10px;
}
.product_box:nth-child(2n-2) {margin-right:0;}

.product_inner{
	width:200px;
	margin:0 auto;
}

.product_img img{
	width:200px;
	height:200px;
}

/*  ǰ4  */.product_box_b{
	width:25%;
}

.product_container p{
	text-align:center;
}

.product_title a{
	font-size:13px;
	font-weight:600;
	color:#555555;
}

.product_price{
	font-size:15px;
	font-weight:600;
	color:#da0303;
}

/*  ǰ nav*/
.products_nav{
	width:285px;
	margin:0 auto;
}

.products_nav li{
	text-decoration:none;
	float:left;
	font-size:13px;
	text-align:center;
}

.products_nav li a{
	color:#ffffff;
	background-color:#e8441d;
	width:90px;
	height:30px;
	display:block;
	text-align:center;
	line-height:30px;
	border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius:30px;
	-webkit-border-radius:30px;
	margin-right:5px;
}


/*  ǰ nav   */


.arow01{
	float:right;
	margin-right:10px;
}

.arow01 img{
	margin-left:5px;
}

/*section5*/

.section05{
	width:100%;
	background:url('../main/images/section05_back.jpg') no-repeat center center fixed;
	background-size:cover;
}

.section05_title{
	color:#fff;
	text-align:center;
}

.new_products{
	width:260px;
	height:430px;
	float:left;
	background-color:#fff;
}

.new_products{
	margin-left:32px;
	text-align:center;
}

.g_line_s{
	width:48px;
	margin:0 auto;
	height:2px;
	background-color:#3b3b3b;
}

.new_title01{
	font-size:13px;
	color:#969696;
	font-weight:600;
}

.new_title02{
	font-size:18px;
	color:#6d6d6d;
	font-weight:600;
}

/*section6*/

.section06_slid{
	position:relative;

}

.section06_slid .le{
	float:left;
}

.section06_slid .ri{
	float:right;
}

.arow03{
	position:absolute;
	margin-top:65px;
}

.arow03_n{
	margin-left:1135px;
}

/*----   ǰ           ----*/



/*---- footer ----*/
#footer{
	width:100%;
	border-top:1px solid #212121;
}

.footer_top{
	width:100%;
	height:35px;
	margin:0 auto;
	border-bottom:1px solid #e7e7e7;
}

.footer_top a{
	font-size:11px;
	color:#212121;
	line-height:35px;
	float:left;
	margin:0 10px;
}

.footer_top_bar{
	width:1px;
	height:11px;
	background:#cccccc;
	float:left;
	margin-top:12px;
}

.footer_middle{
	width:90%;
	margin:0 auto;
}

.footer_middle_box{
    margin: 15px 0;
}

.footer_middle_bar{
	width:100%;
	height:1px;
	background:#eeeeee;
	margin:10px 0;
}

.footer_middle_title{
	font-size:13px;
	color:#212121;
}

.footer_middle_title span {
    color: #005396;
}

.footer_middle_titlebar{
	width:35px;
	height:1px;
	background:#212121;
	margin:10px 0 5px 0;
}

.customer_number{
	font-size:22px;
	color:#000000;
	font-weight:900;
}

.customer_time{
	font-size:10px;
	color:#777777;
	line-height:150%;
}

.customer_time span{
	font-size:12px;
	color:#212121;
}

.bank_number{
	font-size:12px;
	color:#212121;
	line-height:220%;
}

.bank_number span{
	font-size:20px;
}

.bank_select{
	border:1px solid #d5d5d5;
	width:160px;
	height:25px;
	color:#212121;
	font-size:11px;
	padding:0;
}

.company_text{
	font-size:11px;
	color:#212121;
	line-height:171%;
	letter-spacing:-0.5px;
}

.company_text span{
	color:#999999;
}

.footer_bottom{
	width:100%;
	height:40px;
	background:#444444;
}

.footer_bottom_inner{
	width:90%;
	margin:0 auto;
}

.copy{
	color:#ffffff;
	font-size:12px;
	line-height:40px;
}


/*---- footer    ----*/



/*---- ī װ   ----*/

.sub04_category{
	margin:4% 0;
	overflow:hidden;
}

.category_box01{
	border:1px solid #d7d7d7;
	padding-left:15px;
	padding-right:15px;
}

.sub04_category h1{
	font-size:1.4em;
	text-align:center;
	margin-bottom:3%;
    font-weight: bold;
}

.category_line{
	height:3px;
	background-color:#f2f2f2;
}

.category_box02{
}


.category_line02{
	width:100%;
	height:1px;
	background-color:#f2f2f2;
    display: none;
}

.category_list span{
	float:right;
	color:#fff;
}

.category_list02{
	width:100%;
	margin-left:1%;
}
.category_box02 {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.category_listTitle {
    text-decoration: none;
    float: left;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

.category_listTitle a{
    margin-bottom: 5px;
}

.category_listTitle02{
	text-decoration:none;
	float:left;
	font-size:12px;
	text-align:center;
}
.category_listTitle03{
	text-decoration:none;
	float:left;
	font-size:12px;
	text-align:center;
}
.sub05_category {
    width: 100%;
    margin-bottom: 20px;
}
.category_listTitle a{
	color:#ffffff;
	background-color:#303030;
	height:30px;
	display:block;
	text-align:center;
	line-height:30px;
	letter-spacing:-0.5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	margin-right:3px;
    padding:0 10px;
}

.category_subList li {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}
.category_listTitle02 a{
	color:#ffffff;
	background-color:#e8441d;
	width:61px;
	height:30px;
	display:block;
	text-align:center;
	line-height:30px;
	letter-spacing:-0.5px;
	border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius:30px;
	-webkit-border-radius:30px;
	margin-right:3px;
	margin-bottom:1%;
}

.category_listTitle03 li{
	text-decoration:none;
	float:left;
	font-size:12px;
	text-align:center;
}
.category_listTitle03 a{
	color:#212121;
	background-color:#e8441d;
	width:61px;
	height:30px;
	display:block;
	text-align:center;
	line-height:30px;
	letter-spacing:-0.5px;
	border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius:30px;
	-webkit-border-radius:30px;
	margin-right:3px;
}

.product_box .item01 {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
	text-align:center;
}
.product_box img {
    width: 80%;
    height: 100%;
}

/*---- ī װ      ----*/


/*---- sub04      ----*/

.sub04_container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

/*---- list ----*/

.content{
	width:100%;
	font-size:13px;
	font-weight:600;
}

.products p{
	text-align:center;
        display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.products {padding-left:1%;padding-right:1%;}
.list_visual_text{
    text-align: center;
}
.list_visual p{
    color: #212121;
    font-size: 2em;
    display: block;
    margin-bottom: 5px;
	margin-top:20px;
}

.list_visual span{
    color: #666666;
    font-size: 13px;
    text-align: center;
    line-height: 180%;
    letter-spacing: 1px;
    display: block;
}

.option_form {
    float: right;
    margin-right: 2%;
}

.previous_page{
	float:left;
	font-size:7px;
	margin-top:3px;
	margin-right:10px;
}

.next_page{
	float:left;
	font-size:7px;
	margin-top:3px;
	margin-left:10px;
}

.shop_list_page{
	float:left;
	text-align:center;
	vertical-align:middle;
}

.shop_list_page b a{
	margin-right:10px;
	margin-left:10px;
	font-size:15px;
	color:#3c3c3c;
}

.shop_list_page b a:hover{
	text-decoration:underline;
}

.previous_page a, .next_page a{
	color:#3c3c3c;
}


/*---- list    ----*/


/*---- view ----*/

.content{
}

.view_title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:10px;
}

.view_category{
    margin:5px;
    margin-left:10px;
    margin-bottom: 20px;
}

.view_line{
	width:100%;
	height:2px;
	background-color: #454545;
}
.view_img {
    float: left;
    width: 100%;
    border: 1px solid #dadada;
    overflow: hidden;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    margin-bottom: 30px;
}

.view_img p{
	text-align:center;
}

 .view_img .thumbnail-m {
    text-align: center;
    line-height: 1px;
}
 .view_img .thumbnail-s {
    overflow: hidden;
    margin-top: 50px;
    height: auto;
    width: 400px;
}
 .view_img .thumbnail-s ul {
    display: flex;
    align-items: center;
}
 .view_img .thumbnail-s ul li {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px #e4e4e4 solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .view_img .thumbnail-m img {
    max-width: 75%;
    height: auto;
}
 .view_img .thumbnail-s img {
    max-width: 100%;
    height: 100%;
}

.view{
	width:100%;
	margin:0 auto;
	overflow: hidden;
}

.view li{
	text-decoration:none;
	display:inline-block;
    float: left;
    width: 20%;
}

.view li img{
	width:100%;
	border:1px solid #dadada;
}

.view_img img{
	width:50%;
	height:auto;
}

.view_imformation{
	width:100%;
	border-top:1px solid #333;
}

.view_table{
	width:100%;
	border-bottom:1px solid #333;
    border-top: 2px solid #333;
}

.view_table tr{

	border-bottom:1px solid #ccc;
}

.option_tr03{
	margin-bottom:30px;
}

.view_table td{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:15px;
	font-size:15px;
}

.option_td{
	font-weight:600;
	background-color:#f2f2f2;
}

.option_price{
	color:red;
}

.price_imformation{
	height:80px;
	background-color:#f3f3f3;
    line-height: 80px;

}

.price_imformation p{
	font-size:1.3em;
	font-weight:600;
	text-align:center;
	color:#ff4e00;
}

.view_line_btn{
	background-color:#f1f1f1;
}

.sub04_btn{
	width:50%;
	height:40px;
	font-size:15px;
	font-weight:600;
	color:#666;
	border:none;
	cursor:pointer;
	float:left;
}

.sub04_btn:hover{
	background-color:#999;
	color:#fff;
}

.sub04_btn00{
	width:49%;
	height:45px;
	border:none;
	background-color:#333;
	color:#fff;
	cursor:pointer;
	font-size:15px;
	font-weight:600;
	border-radius:50px;
}

.view_btn_sub01 {
    margin-left: 8px;
    margin: 20px 8px 20px 12px;
}

.sub04_btn00:hover{
	background-color: #005396;
}

.view_section{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.view_pg {
    width: 100%;
    overflow: auto;
}
.view_pg img {width:100%;}
/*---- view    ----*/




/*---- view    ----*/

.content_inner{
	width:100%;
}

.content_inner:after { content:""; clear:both; display:block; *zoom:1;}


/*  ٱ   */

.tlink{
    color: blue;
}

.page_title {
    font-size: 1.4em;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-bottom: 4%;
    border-top: 1px solid #f2f2f2;
    padding-top: 11px;
}

.cart_table{
	width:100%;
	text-align:center;
	line-height:18px;
}

.cart_table th{
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	vertical-align:middle;
	padding-top:1%;
	padding-bottom:1%;
	font-weight:bold;
	color:#777777;
	background-color:#f9f7f7;
}

.formbox3{
    border: 1px solid #dddddd;
    width:35px;
    height:25px;
    margin-bottom: 3px;
    margin-right: 1px;
}

.search_bar{
    border-radius: 2px;
}

.align_right{
	text-align:left;
	font-weight:bold;
}

.cart_table td{
	vertical-align:middle;
	padding-top:1%;
	padding-bottom:1%;
	font-size:0.85em;
}

.cart_table_line{
	border-bottom:1px dashed #dadada;
}

.cart_img img{
	width:90px;
	height:70px;
}

.cart_price{
	width:100%;
	background-color:#f3f3f3;
	text-align:right;
	padding:2%;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.price_text{
    margin-bottom: 10px;
}

.view_btn_cart2{
	float:right;
}

.view_btn_cart1{
	float:left;
}

.view_btn{
	margin:0 auto;
    text-align: center;
}

.cart_btn01 {
   width: 90%;
    height: 45px;
    color: #ffffff;
    background-color: #919191;
    border: 0px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    cursor: pointer;
    margin-bottom: 5px;
}

.cart_btn02{
	width:150px;
	height:45px;
	color:#ffffff;
	background-color:#a1a1a1;
	border:0px;
	cursor:pointer;
	border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
        margin-bottom: 5px;
}

.cart_btn03{
	width:90%;
	height:45px;
	color:#ffffff;
	background-color:#e8441d;
	border:0px;
	border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
	cursor:pointer;
        margin-bottom: 5px;
    font-size: 0.9em;
}

.cart_btn03:hover{
	background-color:#ec008c;
}

.cart_btn_right{
    margin-top:10px;
}

.new_btn01{
	width:100%;
	height:35px;
	color:#333333;
	background-color:#ececec;
	border:0px;
	cursor:pointer;
	border-radius: 30px;
-moz-border-radius: 30px;2017-09-15
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
}

.new_btn02{
	width:100%;
	height:35px;
	color:#ffffff;
	background-color:#a1a1a1;
	border:0px;
	cursor:pointer;
	border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
}

.new_btn03{
	width:100%;
	height:35px;
	color:#ffffff;
	background-color:#e8441d;
	border:0px;
	border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
	cursor:pointer;
}

.cart_btn03:hover{
	background-color:#ec008c;
}
/* ֹ    ۼ */

.order_table_title{
	width:100%;
	height:30px;
	font-size:14px;
	font-weight:bold;
}

.order_table{
	width:100%;
	border-top:2px solid #191919;
    margin-bottom: 20px;
}

.order_table th{
	text-align:left;
	background-color:#f7f7f7;
	padding-left:2%;
	font-weight:bold;
	font-size:14px;
	border-bottom:1px solid #dadada;
	width:35%;
}

.order_table td{
	font-family:'nanum';
	font-size:12px;
	padding-left:10px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #dadada;
	line-height:18px;
}

.order_title{
    margin-bottom: 5px;
}

.input_name{
	width:90%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
    margin:3px 0 5px 0;
}

.input_name_tax{
	width:80%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
}

.input_tel{
	width:12%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
	margin-right:5px;
}

.input_email{
	width:90%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
}

.find_address{
    background: #e8441d;
    color: #ffffff;
    border: none;
    margin-top: 2px;
    padding:2px 7px;
    font-size: 12px;
}

.input_addr{
	width:90%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
	vertical-align:middle;
}

.input_bank{
    margin:3px 0 5px 0;
    border: 1px solid #dddddd;
    padding-right: 25px;
    height: 25px;
    font-size: 12px;
}

.input_addr01{
	width:95%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
}

.btn_addr{
	width:115px;
	height:29px;
	background-color:#333333;
	border:0px;
	color:#ffffff;
	vertical-align:middle;
	cursor:pointer;
}

.order_memo{
	width:95%;
	height:80px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
}

.align_top{
	vertical-align:top;
	padding-top:20px;
}

.selet_bank{
	width:30%;
	height:25px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
}

.checkbox{
	vertical-align:middle;
}

.confrim_title{
	text-align:center;
	font-size:24px;
	font-weight:bold;
	line-height:28px;
}

.confrim_title01{
	font-size:16px;
	color:#999999;
}

.btn_reorder{
	width:80px;
	height:30px;
	background-color:#d7d7d7;
	border:0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:middle;
	cursor:pointer;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.btn_modify{
	width:100px;
	height:30px;
	background-color:#4eb7b3;
	border:0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:middle;
	cursor:pointer;
	margin-bottom:5px;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.btn_complete{
	width:100px;
	height:30px;
	background-color:#e8441d;
	border:0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:middle;
	cursor:pointer;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

/*   ΰ   */
.pay_box{
	float:left;
	width:240px;
	height:240px;
	margin-left:9px;
	margin-right:9px;
	margin-bottom:20px;
	padding:20px;
	overflow:hidden;
	border:1px solid #dcdcdc;
	border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius:10px;
}

.pay_img{
	width:235px;
	height:180px;
}
.pay_name{
	font-size:13px;
	color:#333333;
}
.pay_price{
	font-size:12px;
	font-weight:bold;
}

.member_title{
	text-align:center;
	font-size:1.7em;
	font-weight:bold;
	font-family:NanumSquare, sans-serif;
}

.member_title01{
	text-align:center;
	font-size:1.2em;
	color:#999;
}

.agree_inner{
	width:95%;
	margin:0 auto;
    margin-bottom: 40px;
}

.agree_title{
	height:40px;
	font-size:1.3em;
	color:#333333;
	font-weight:bold;
}

.agree_box{
	width:100%;
	height:600px;
	border:1px solid #d7d7d7;
	font-family:'nanum';
}

.agree_check{
	font-size:13px;
	color:#333;
}

/*ȸ      */
.join_inner{
	width:100%;
	padding:2% 2%;
	box-sizing:border-box;
	border-top:2px solid #e8441d;
	background-color:#f5f5f5;
}

.join_table{
	width:100%;
	color:#444;
}

.join_title{
	font-size:1.3em;
	font-weight:bold;
}
.title_s{
	font-size:0.8em;
	font-weight:bold;
	color:#999;
}

.join_table td{
	padding-top:5px;
	padding-bottom:5px;
}

.join_table th{
	font-weight:700;
	font-size:1.1em;
	text-align:left;
	width:27%;
}

.join_name{
	width:69.5%;
	height:34px;
	border:1px solid #dcdcdc;
	background-color:#ffffff;
	vertical-align:middle;
}

.btn_id_check{
	width:28%;
	height:34px;
	border:1px solid #ff9000;
	background-color:#e8441d;
	color:#fff;
	vertical-align:middle;
    font-size: 1em;
}

.join_text{
	margin-top:5px;
	margin-bottom:10px;
}

.join_input{
	width:99%;
	height:34px;
	border:1px solid #dcdcdc;
	background-color:#ffffff;
	vertical-align:middle;
}

.join_tel{
	width:30.5%;
	height:34px;
	border:1px solid #dcdcdc;
	background-color:#ffffff;
	vertical-align:middle;
}

.join_addr{
	width:45%;
	height:34px;
	border:1px solid #dcdcdc;
	background-color:#ffffff;
	vertical-align:middle;
}

.cart_btn04{
	width:90%;
	height:45px;
	color:#ffffff;
	background-color:#333333;
	border:0px;
	border-radius: 30px;
-moz-border-radius: 30px;
-khtml-border-radius: 30px;
-webkit-border-radius:30px;
	cursor:pointer;
    margin-bottom: 5px;
}

.cart_btn04:hover {
    background-color: #005396;
}

/*  й ȣ  ڽ */
.secret_box{
	float:left;
	background-color:#ffffff;
}

.secret_table{
	width:400px;
	background-color:#ffffff;
}

.secret_btn{
	width:95%;
	height:30px;
	border:1px solid #ec008b;
	background-color:#ec008b;
	color:#ffffff;
	cursor:pointer;
}

.secret_text{
	height:30px;
	vertical-align:middle;
}

.input_secret{
	width:95%;
	height:30px;
	border:1px solid #cccccc;
	background-color:#ffffff;
}

/* α   */

.login_inner{
	width:100%;
}
.login_inner:after { content:""; clear:both; display:block; *zoom:1;}

.login_box {
    width: 95%;
    margin: 0 auto;
    /* border-bottom: 1px solid #cccccc; */
    padding-left: 0 !important;
}

.login_box01{
	width:95%;
	margin:0 auto;
}

.login_box_title{
	height:25px;
	font-size:1.4em;
	font-weight:bold;
}

.login_title_s{
	font-size:1.1em;
	font-weight:bold;
	color:#999;
    margin-bottom: 10px;
}

.login_table{
	width:100%;
    margin-bottom: 15px;
}

.login_table th{
	text-align:left;
	font-weight:bold;
	vertical-align:middle;
}

.login_table td{
	vertical-align:middle;
}

.login_table_in{
	width:100%;
}

.login_table_in th{
	text-align:left;
	font-weight:bold;
	vertical-align:middle;
    font-size: 1.2em;
}

.login_table_in td{
	vertical-align:middle;
}

.input_login{
	width:97%;
	height:30px;
	border:1px solid #cccccc;
	background-color:#ffffff;
}

.input_login_tel{
	width:28%;
	height:30px;
	border:1px solid #cccccc;
	background-color:#ffffff;
}
.sp40 {
    height: 40px;
    clear: both;
}
.sp50 {
    height: 50px;
    clear: both;
}
.btn_login{
	width:81px;
	height:81px;
	background-color:#004d90;
	color:#ffffff;
	border:0px;
	border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius:10px;
	cursor:pointer;
	vertical-align:middle;
}
.btn010 {
    border: 0px;
    width: 105px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #4a4240;
    font-weight: bold;
}
.btn_login01{
	width:81px;
	height:81px;
	background-color:#e54d4d;
	color:#ffffff;
	border:0px;
	border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius:10px;
	cursor:pointer;
	vertical-align:middle;
}

.login_btn_box{
	width:100%;
}
.login_btn_box:after { content:""; clear:both; display:block; *zoom:1;}

.login_left{
	width:100%;
    margin-bottom: 5px;
}

.login_right{
	width:100%;
    margin-bottom: 5px;
}

.find_id_table{
	width:100%;
}

.find_id_table td{
	font-weight:bold;
	color:#999999;
	vertical-align:middle;
	font-size:0.9em;
    padding-left:10px;
}

.find_id_table img{
	width:98%;
	height:auto;
}

.write_btn_box{
	width:307px;
	margin:0 auto;
}

/*          */

.board_write {
    width: 100%;
    line-height: 18px;
    border-top: 2px solid #e8441d;
}

.board_write th {
    padding-left: 5%;
    font-weight: 600;
    color: #333333;
    font-size: 1em;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
}

.bg {
    background-color: #f9f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.board_write td {
    vertical-align: middle;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-bottom: 1px solid #ebebeb;
    font-size: 15px;
}

.input_writer {
    width: 40%;
    height: 30px;
    padding-left: 1%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.input_w_tel{
	width:24%;
	height:30px;
	padding-left:1%;
	border:1px solid #dcdcdc;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.input_w_email {
    width: 20%;
    height: 30px;
    padding-left: 1%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.modi_btn_addr{
	width:130px;
	height:32px;
	color:#ffffff;
	border:1px solid #ff9000;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
	background-color:#e8441d;
	cursor:pointer;
}

/*    Ʈ  ȸ*/

.point_sum {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.point_table {
    width: 100%;
	text-align:center;
}

.point_table th {
    font-weight: bold;
    color: #777777;
}

.point_title {
    height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.cart_table th {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    vertical-align: middle;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    color: #777777;
    background-color: #f9f7f7;
	font-size:0.9em;
}

.point_table_line {
    border-bottom: 1px solid #dadada;
    padding: 70px;
    color: #777777;
}

/* Խ        Ʈ*/
.board_table{
	width:100%;
	text-align:center;
	line-height:18px;
	border-top:2px solid #e8441d;
}

.board_table th{
	border-bottom:1px solid #dadada;
	vertical-align:middle;
	padding-top:1%;
	padding-bottom:1%;
	font-weight:bold;
	color:#777777;
	background-color:#f9f7f7;
}

.board_table td{
	vertical-align:middle;
	height:45px;
	/*padding-top:10px;
	padding-bottom:10px;*/
}

.board_table_line{
	border-bottom:1px solid #ebebeb;
}

.board_title{
	text-align:left;
	vertical-align:bottom;
}

.board_title_nodata{
	text-align:center;
}

.board_btn_com{
	width:80px;
	height:30px;
	background-color:#ec008b;
	border:0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:middle;
	cursor:pointer;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.board_btn_com01{
	width:80px;
	height:30px;
	background-color:#d7d7d7;
	border:0px;
	color:#ffffff;
	font-weight:bold;
	vertical-align:middle;
	cursor:pointer;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.btn_box{
	width:100%;
    margin-bottom: 10px;
}
.btn_box:after { content:""; clear:both; display:block; *zoom:1;}

.list_btn01{
	float:left;
	width:20%;
	vertical-align:middle;
    margin-top:10px;
}
.list_btn02{
	float:right;
	text-align:right;
	width:20%;
	vertical-align:middle;
    margin-top:10px;
}

.list_page{
	width:60%;
	height:30px;
	float:left;
	padding-top:15px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
.list_page a{
	margin-right:10px;
	margin-left:10px;
}

.list_search{
	width:100%;
	text-align:center;
	overflow:hidden;
}
.list_select{
	width:18%;
	height:30px;
	border:1px solid #d7d7d7;
	float:left;
    margin-right:5px;
}

.search_text{
	width:64.3%;
	height:30px;
	border:1px solid #d7d7d7;
	float:left;
}

.search_text01{
	width:180px;
	height:26px;
	border:1px solid #d7d7d7;
	vertical-align:middle;
}

.search_btn {
    width: 15%;
    height: 30px;
    border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #333;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.board_tab{
	/*width:73%;*/
	float:left;
}

.board_tab li{
	float:left;
	margin-right:5px;
	width:80px;
	height:40px;
	text-align:center;
	line-height:40px;
	background-color:#ededed;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.board_tab li:hover{
	background-color:#ec008c;
	color:#fff;
}

.board_search{
	/*width:27%;*/
	float:right;
	text-align:right;
}

/* Խ      */

.board_view{
	width:100%;
	line-height:18px;
	border-top:2px solid #ff9000;
}

.board_view th{
	padding:2%;
	font-weight:bold;
	color:#333333;
	font-size:18px;
	text-align:left;
	background-color:#f9f7f7;
}

.board_view td{
	padding-top:15px;
	padding-bottom:15px;
	padding-left:5px;
}

.view_text{
	min-height:300px;
}

.list_btn03{
	float:left;
	text-align:right;
	width:80%;
	vertical-align:middle;
}

/* Խ     ۾   */
.board_write{
	width:100%;
	line-height:18px;
	border-top:2px solid #e8441d;
}

.board_write th{
	padding-left:5%;
	font-weight:bold;
	color:#333333;
	font-size:1em;
	text-align:left;
	vertical-align:middle;
	border-bottom:1px solid #ebebeb;
	width:30%;
}

.board_write td{
	vertical-align:middle;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:20px;
	border-bottom:1px solid #ebebeb;
	font-size:15px;
}

.bg{
	background-color:#f9f7f7;
	padding-top:15px;
	padding-bottom:15px;
}

.input_title{
	width:97%;
	height:30px;
	padding-left:1%;
	border:1px solid #dcdcdc;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}
input:focus {
  outline: none;
}
.input_writer{
	width:77%;
	height:30px;
	padding-right:5%;
	border:1px solid #dcdcdc;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
font-size:0.8em;
}

.input_writer_sc{
	width:20px;
	height:20px;
	padding-left:10px;
	border:1px solid #dcdcdc;
	vertical-align:middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius:5px;
}

.input_textarea{
	width:96%;
	height:200px;
	padding:1%;
	border:1px solid #dcdcdc;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}


.write_file{
	border:1px solid #dcdcdc;
	border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius:5px;
}

.write_btn_box{
	width:100%;
	text-align:center;
    margin-top:10px;
}

.table_text05{
    font-size: 0.85em;
}

.t_content{
	width:100%;
	font-size:13px;
	font-weight:600;
}

.content{
	width:100%;
    margin: 0 auto;
}

#content{
    width:100%;
    margin: 0 auto;
}

.visual_img01{
	width:100%;
	height:auto;
}

.visual_img02{
	float:left;
	width:49%;
	height:auto;
}

.visual_img03{
	float:right;
	width:49%;
	height:auto;
}

.product{
	width:100%;
}

.product_titlebox{
	width:100%;
}

.product_title {
    font-size: 18px;
    font-weight: 900;
    color: #444444;
    line-height: 40px;
    text-align: center;
}
.conter_bar {
    width: 70px;
    height: 2px;
    background: #454545;
    margin: 0px auto;
}
.product_title span{
	color:#e8441d;
}

.product_btn_box{
	float:right;
}

.product_btn{
	width:30px;
	height:40px;
	float:left;
	border-left:1px solid #e7e7e7;
	color:#666666;
	font-size:15px;
	font-weight:900;
	line-height:40px;
	display:block;
	text-align:center;
}

.product_inner{
	width:100%;
	padding:10px 10px;
	overflow:hidden;
	margin-top:10px;
}
.best_box01 {
    width: 48%;
    margin: 0 auto;
    padding-bottom: 50px;
    float: left;
}
.best_box01:nth-child(2n-1) {margin-right:4%;}
.best_box02{
	width:200px;
	float:left;
}

.best_img{
	width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    border: 1px #e4e4e4 solid;
    background: #fff;
}

.best_img a {
    display: block;
    width: 100%;
    height: 100%;
}

.best_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.best_text {
    font-size: 14px;
    color: #555555;
    text-align: left;
    padding: 10px 0 10px 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.best_price {
    font-size: 18px;
    color: #222222;
    font-weight: 500;
    text-align: left;
}
.best_price a {
    margin-right: 5px;
    font-weight: 700;
}
.new{
	width:100%;
}

.new_title{
	font-size: 18px;
    font-weight: 900;
    color: #444444;
    line-height: 40px;
    text-align: center;
}

.new_title span{
	color:#e8441d;
}

.new_inner {
    width: 100%;
    padding: 10px 10px;
    overflow: hidden;
    margin-top: 10px;
}
.new_arrow01{
	float:left;
	margin-top:170px;
}

.new_arrow02{
	float:right;
	margin-top:170px;
}

.new_arrow01 img{
	width:25px;
	height:56px;
}

.new_arrow02 img{
	width:25px;
	height:56px;
}

.new_box{
}

.new_product01 {
    width:48%;
    float: left;
    margin-bottom: 10px;
}
.new_product01:nth-child(2n-1) {
    margin-right: 4%;
}
.new_product02{
	width:260px;
	background:#ffffff;
	float:left;
}

.new_img {
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    border: 1px #e4e4e4 solid;
    background: #fff;
}

.new_img a {
    display: block;
    width: 100%;
    height: 100%;
}

.new_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.new_textbar{
	width:50px;
	height:1px;
	margin:15px auto 20px auto;
	background:#3b3b3b;
}

.new_text01{
	text-align:center;
	font-size:15px;
	color:#969696;
}

.new_text02 {
    font-size: 14px;
    color: #555555;
    text-align: left;
    padding: 10px 0 10px 0;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.m_sp20 {height:20px !important;}
.new_btn{
	text-align:center;
	font-size:25px;
	color:#ffffff;
	display:block;
	width:50px;
	height:50px;
	background: #858585;
	border-radius:25px;
	line-height:42px;
	margin:0 auto;
    margin-bottom: 20px;
    margin-top: 8px;
}

.all_btn {
    width: 100%;
    margin: 10px auto;
}

.all_btn a{
	width:61px;
	height:30px;
	display:block;
	font-size:12px;
	color:#ffffff;
	line-height:30px;
	margin:5px 1px;
	float:left;
	font-weight:600;
	text-align:center;
	border-radius:15px;
	background: #454545;
    margin-left: 5px;
}

.nav_logo img {width:125px;}
.all_box01{
    width: 48%;
    margin: 0 auto;
    float: left;
}
.all_box01:nth-child(2n-1) {margin-right:4%;}
.all_box02{
	width:1;
	float:left;
}

.all_img{
	width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
    border: 1px #e4e4e4 solid;
    background: #fff;
}

.all_img a {
    display: block;
    width: 100%;
    height: 100%;
}

.all_img img{
	display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.all_text{
	font-size:14px;
	color:#555555;
	text-align:center;
	padding:10px;
}

.all_price{
	font-size:16px;
	color:#ff0000;
	text-align:center;
	padding-bottom:10px;
}



.selectbox{
    border:1px solid #dddddd;
    padding:2px 20px 2px 8px;
}




.m_logo {
    width: 97px;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%);
}

select {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 7% auto;
    border: 1px solid #ddd;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
    -webkit-border: none;
    -moz-border: none;
    padding: 0 10px;
    -webkit-padding: 0 10px;
    -moz-padding: 0 10px;
	}

.selectbox {
    background: #fff;
    border: 1px solid #e7e7e7;
    padding: 5px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 94% 58%;
    background-size: 10px auto;
    width: 100px;
}

.page_nav {
    display: table;
    margin: 0 auto;
	clear: both;
}

.car-span {
	padding-left: 10px;
    padding-right: 10px;
    background: #000000;
    border-radius: 5px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
	margin-top:10px;
	}


.scroll-banner {
    float: right;
    width: 180px;
    height: 120px;
    background: #ffffff;
    margin-left: auto;
	overflow:hidden;
	display:none;
}
.scroll-banner .swiper {
        width: 100%;
        height: 100%;
      }

.scroll-banner .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

.scroll-banner .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
.scroll-banner .swiper-pagination  {display:none;}

.item-new-box {
    width: 100%;
    background: #f8f8f8;
    overflow: hidden;
}



.story-box {
	position:relative;
	width:100%;
	height:245px;
	background:#f0f0f0;
	overflow:hidden;
	}

.story-box .swiper {
        width: 100%;
        height: 100%;
      }

.story-box .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

.story-box .swiper-slide img {
    display: block;
    width: 100%;
    height: inherit;
}
.story-box .txt-box {
    position: absolute;
    top: 50%;
    z-index: 999;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.story-box .txt-box .t1 {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.story-box .txt-box .t2 {
    font-size: 24px;
    margin-top: 20px;
}

#footer_2 {
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	overflow:hidden;
	border-top: 1px #e4e4e4 solid;
	}
#footer_2 .inner {
	width:100%;
	margin:0 auto;
	}

#footer_2 .item-0 {
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
    margin-bottom: 15px;
}
#footer_2 .item-0 .text-tit {
    font-size: 14px;
    color: #000000;
    font-weight: 900;
    margin-bottom: 10px;
}
#footer_2 .item-1 .div01{
	display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
		     -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
	}
#footer_2 .item-1 .div01 p {
    font-size: 27px;
    font-weight: 700;
    margin-left: 10px;
}
#footer_2 .item-1 .p1 {margin-top:7px;}
#footer_2 .item-3 .div01 ul li {
    float: left;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
}
#footer_2 .item-3 .div01 ul li img {
    display: block;
    margin: 0 auto;
    width: 40px;
}
#footer_2 .item-4 .p1 {
    font-size:12px;color:#000000;
}
#footer_2 .item-4 .link-btn {
    color: #ffffff;
    background: #606060;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
	cursor:pointer;
}
.header_inner .po-box {
    display: flex;
    width: 100%;
    margin-top: 20px;
    float: left;
}
.product_title_s {
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    text-align: center;
}


.Search-Area {width:100%;}


.userpoint {   
	width: 90%;
    height: 25px;
    border: 1px solid #dadada;
    background-color: #f7f7f7;
    margin: 3px 0 5px 0;
	}
.cart_btn_order {
	background: #181818;
    margin: 0 auto;
    width: 300px;
	height: 40px;
    line-height: 40px;
    display: block;
    border: none;
	color:#ffffff;
	}